*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    background-color: bisque;
}

.hero-sec{
    height: 60vh;
}

/* <----- login menu -----> */
.bottom-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    padding: 80px 150px;
    gap: 50px;
}

.bottom-menu h4{
    color: #fff;
}

.bottom-menu .email-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bottom-menu .email-menu .login-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom-menu .email-menu .login-menu input{
    width: 35vw;
    height: 3vh;
    padding: 10px;
}

.bottom-menu .email-menu .login-menu .get-start{
    height: 3.5vh;
    padding: 10px;
    background-color: #ff0000;
    border-radius: 5px;
    color: white;
}

.bottom-menu .email-menu .login-menu .get-start:hover{
    background-color: #d00000;
}

/* <----- tag section -----> */
.tag-sec{
    color: #929292;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.tag-sec .bottom-tags{
    display: flex;
    justify-content: left;
    gap: 80px;
}

.tag-sec h4, a{
    color: #929292;
}

.tag-sec .bottom-tags .line ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.tag-sec .bottom-tags .line ul li a{
    text-decoration: none;
    color: #929292;
}

.tag-sec .bottom-tags .line ul li a:hover{
    text-decoration: underline;
}

.tag-sec .net-ind{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tag-sec .net-ind select{
    padding: 10px;
    width: 100px;
    border: 1px solid #929292;
    background-color: #151515;
    color: #fff;
    border-radius: 5px;
}

.tag-sec .net-ind p{
    font-size: 14px;
}

.tag-sec .net-ind p a{
    color: #1c82ff;
}